@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
@import "color.scss";

html, body, p, ul, ol, ul > li, ol > li{
    font-family: "Roboto", "Hiragino Kaku Gothic ProN", "BIZ UDGothic", sans-serif !important;
    font-weight: 400;
    color: $gray;
}

html {
    font-size: 16px;
    background-color: rgba(236,239,241,.5);

    // transform: rotate(0.028deg);
    // -o-transform: rotate(0.028deg);
    // -ms-transform: rotate(0.028deg);
    // -moz-transform: rotate(0.028deg);
    // -webkit-transform: rotate(0.028deg);

}

body {
    // font-feature-settings : "palt";  // "BIZ UDP Gothic"では効かない
    font-size: inherit;
    line-height: 1rem;
    margin: 0 !important;   // user agency上書き
}

h1, h2, h3, h4, h5 ,h6 {
    font-family: "Raleway", "Hiragino Kaku Gothic ProN", "BIZ UDGothic", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem;
    margin: 0;
}

hr {
    border: 0;
    border-top: 1px dashed #cfd8dc;
    margin: 1rem 0;
}

p {
    margin: 0;
    line-height: 1rem;
}

a {
    color: $blue;
    text-decoration: none;
    // transition-duration: .3s;
}

table {
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
}

th, td {
    font-size: .8rem;
    padding: .5rem;
}

tr {
    border-bottom: 1px dashed #ddd;
}

/* Layouts */
main, aside {
    display: block;
}

// ヘッダーと記事の間
main {
    padding: 3rem 0 3rem 0;
}

// メイン部
.l-container {
    position: relative;
    // max-width: 68rem;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 1rem;

    &.thin {
        max-width: 44rem;
    }
}

// ヘッダー
.l-header{

    padding-top: 2rem;
    height: 20rem;

    background: url("/images/tobias-keller-73F4pKoUkM0-unsplash.jpg") no-repeat center;
    background-size: cover;
    position: relative;

    // 背景暗くする
    &:before{
        content: ' ';
        background-color: rgba(0, 0, 0, .6);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.title-logo-wrapper {

    position: relative; // 浮かせる（背景を暗くする影響を受けないため）
    width: 30rem;
    max-width: 90%;    // for Android/iOS

    display: flex;
    flex-direction: column;
    margin: 0 auto; // 中央揃え

    .logo a {

        img{
            width: 30rem;   // 書かないとダメ
            max-width: 100%;  // for Android/iOS
        }

    }

    .topnav {

        .topnav_menu_item{
            display: inline-block;    // 横に並べる
            margin: 0rem 0.3rem 2rem 0rem;  // for Android/iOS
        }

        a {
            font-family: "Raleway", "Hiragino Kaku Gothic Pro", sans-serif;
            color: $white;
            padding: 0.7rem 1.3rem;

            border-radius: 2rem;
            transition: all .3s;

            &:hover{
                background-color: $blue;
            }

        }


    }
}


// フッター
.l-footer {
    font-size: .9rem;
    background-color: $white;
    text-align: center;
    padding: 2rem 0;
}

.l-sidebar {
        margin: -1rem 0;
}

@media (max-width: $max-width) {
    .l-sidebar {
        margin-top: 4rem;
    }
}

// grid
.mrow {
    margin: 0 -1rem;
    overflow: hidden;
}

.mcol {
    box-sizing: border-box;
    float: left;
    padding: 0 1rem;
}

.c6 { width: 50%; }
.c4 { width: 33.26323833%; }
.c8 { width: 66.66666%; }

@media (max-width: $max-width) {
    .mcol {
        width: 100%;
        float: none;
    }
}

/********************************************************************************************************************/
/* トップページ 左側記事矩形 */
/********************************************************************************************************************/


.articles {
    margin: -1rem 0;
    margin-bottom: 1rem;
}

.articles.sm {
    margin: -.5rem 0;
    margin-bottom: 0;
}

article {
    border-radius: 4px;
    overflow: hidden;
}

article.li {
    background-color: $white;
    height: 26rem;

    // overflow: hidden;
    margin: 1rem 0;

    // うにゅっとさせる
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    outline: 1px solid;
    outline-color: $article-border-color;
    outline-offset: 0px;
    transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);

    &:hover{
        border-color: #FFF;
        box-shadow: inset 0 0 20px 
            rgba(255, 255, 255, 0.5), 0 0 20px 
            rgba(255, 255, 255, 0.2);
        outline-color: transparent;
        outline-offset: 12px;
        cursor: pointer;
        background-color: $skyblue;
        .thumb {
            opacity: 0.7;
        }
    }

}

/* 記事矩形内のリンク */
article.li > a {
    display: block;
    color: $gray;
}

article.li .inner {
    padding: 1rem;
}

article.li .thumb {
    height: 10rem;
}

/* 記事タイトル */
article.li .title {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-bottom: .5rem;
    transition: 0.1s;
    &:hover{
        color: $blue;
    }
}

article.li .summary {
    font-size: .9rem;
    height: 8rem;
    overflow: hidden;
    line-height: 1.3rem;
    margin-top: 0.8rem;
}


/********************************************************************************************************************/
/* トップページ 右側矩形 */
/********************************************************************************************************************/
article.lism {
    background-color: $white;
    margin: .5rem 0;
    outline: 1px solid;
    outline-color: $article-border-color;
    outline-offset: 0px;

    &:after{
        content: '';
        display: block;
        clear: both;
    }

    &:hover{
    transition: 0.3s;
        .thumb{
            opacity: 0.7;
        }

    }
}

/* Latestリンク全体 */
article.lism > a {
    display: block;
    color: $gray;
    transition: 0.1s;

    &:hover{
        background-color: $skyblue
    }
}

article.lism .inner {
    display: table-cell;
    vertical-align: middle;
    height: 5rem;
    padding: 0 .75rem;
}

article.lism .thumb {
    width: 5rem;
    height: 5rem;
    float: left;
}

article.lism .title {
    font-weight: 700;
    font-size: .8rem;
    margin-bottom: .25rem;
    transition: 0.2s;

    &:hover{
        color: $blue;
    }
}


/********************************************************************************************************************/
/*    */
/********************************************************************************************************************/

/* 記事矩形内の日付・フォルダ */

ul.facts, ul.facts_tags{

    margin: 0;
    padding: 0;

    /*text-align: left;*/
    li {
        display: inline;        /* 横に並べる */
        font-size: .8rem;
    }

    /* アイコン */
    i {
        color: #cfd8dc;
        margin-right: .5em;
    }

    &.sm li {
        font-size: .7rem;
    }

    a {
        position: relative;
        display: inline-block;
        transition: .3s;

        // リンク中央下から線を出す
        &:after{
            position: absolute;
            bottom: -0.05rem;
            left: 50%;
            content: '';
            width: 0;
            height: 1px;
            background-color: $blue;
            transition: .3s;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        &:hover::after{
            width: 100%;      
        }

    }


}

ul.facts > li{
    margin-right: 1rem;
}

ul.facts_tags {
    margin: 0.5rem 0rem 1.3rem 0rem;
    line-height: 1.3rem;
    li{
        margin-right: .2rem;
    }
}


/* トップページ categories & tag wrapper */
section {
    &.sidebar {
        margin: 2rem 0;

        > header {
            font-size: .8rem;
            font-weight: 700;
            letter-spacing: 4px;
            text-align: center;
            margin: 1.5rem 0;
        }
    }

    &.footer {
        margin: 1rem 0;

        > header {
            font-size: .8rem;
            margin: .5rem 0;

            &::before {
                content: "- ";
            }

            a {
                font-weight: 700;
                color: $gray;
                text-decoration: underline;
            }
        }
    }
}

/* トップページ categories & tag リンク */
.terms {
    margin: -.25rem;

    li {
        display: inline-block;
    }

    a {
        display: block;
        float: left;
        background-color: $white;
        border-radius: 20px;
        color: $gray;
        font-size: .8rem;
        margin: .25rem;
        padding: 0 .75rem;
        line-height: 1.75rem;
        transition: 0.3s;

        &:before{
            content: "# ";
        }

        &:hover{
                background-color: $skyblue;
        }
    }

}

// Pagination
.paging {
    text-align: center;
    padding: 1rem 0;
    a {
        display: inline-block;
        background-color: $white;
        // box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px rgba(63,63,68,.1), 0 1px 2px rgba(0,0,0,.05);
        border-radius: 4px;
        color: $gray;
        padding: 0 3rem;
        line-height: 3rem;

        // グワーッてさせる
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid transparent;
        outline: 1px solid;
        outline-color: #CCCCCC;
        outline-offset: 0px;
        transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);

        &:hover{
            border-color: #FFF;
            box-shadow: inset 0 0 20px 
                rgba(255, 255, 255, 0.5), 0 0 20px 
                rgba(255, 255, 255, 0.2);
            outline-color: transparent;
            outline-offset: 12px;
            cursor: pointer;
            background-color: $skyblue;
            color: $blue;
        }

    }
}

.page-title {
    text-align: center;
    margin: 1rem 0;

    &::after {
        content: '';
        display: block;
        border-bottom: .25rem solid $gray;
        width: 3rem;
        margin: 1.5rem auto;
    }

    > .title {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

.share {
    padding: 0;

    a {
        display: inline-block;
        box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px rgba(63,63,68,.1), 0 1px 2px rgba(0,0,0,.05);
        min-width: 1rem;
        height: 2rem;
        border-radius: 4px;
        color: $gray;
        font-size: .8rem;
        font-weight: 700;
        line-height: 2rem;
        text-align: center;
        padding: 0 .5rem;
    }
}

.adj {
    article.lism {
        margin-bottom: 1rem;
    }

    header {
        font-weight: 700;
        font-size: .8rem;
    }
}

// ToC
.toc {
    padding: 0 2rem;
    margin: 1rem 0;

    nav > ul {
        background-color: #eceff1;
        border-radius: 4px;
        display: inline-block;
        font-size: .8rem;
        padding: .5rem 1rem;
        word-break: break-all;
        list-style: none;
    }

    ul {
        padding: 0;

        ul {
            padding-left: 1rem;

            > li {
                font-weight: 700;
                margin: .5rem 0;
                list-style-type: decimal;
            }

            ul {
                padding-left: 1rem;

                > li {
                    list-style-type: disc;
                    font-weight: 500;
                }
            }
        }
    }

    li {
        color: #90a4ae;
    }
}

@media (max-width: $max-width) {
    .toc {
        padding: 0 1rem;
    }
}
